

body{
	background-color:  #E567B1;
}

.wraper {
	font-family: 'Arial', sans-serif;
	font-weight: 600;
}


.calc_body{
	margin: 0 auto;
	max-width: 300px;
	background-color: #A40004;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}

.scrin{
	max-width: 280px;
	height: 30px;
	background-color: #FF7100;
	margin: 10px auto 10px;
	padding: 10px;
	font-size: 23px;
	overflow: hidden;
	color: #A40004;
	border-radius: 2px;
	box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	word-wrap: break-word;
}

.scrin.long{
	font-size: 15px;
}

.scrin.very_long{
	font-size: 10px;
}




.operandas {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
}


.sign {
	flex: 0 1 50px;
	color: #fff;
	background-color: #E5399E;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
}

.sign:hover {
background-color: #84004D;
	}

.sign:active {
	position: relative;
	top: 3px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


.digits {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 10px 0 0 0;

}

.num.c{
	color: #fff;
	background-color: #E5399E;
}

.num.dot{
	color: #fff;
	background-color: #E5399E;
}

.num.reset{
	color: #fff;
	background-color: #E5399E;
}

.num {
	flex: 0 1 70px;
	height: 60px;
	background-color: #E567B1;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
}

.num:hover {
background-color: #84004D;
	}

.num:active {
	position: relative;
	top: 3px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.alert_null{
	color: red;
	font-size: 13px;
}


.else_buttons{
	display: flex;
	justify-content: space-between;
}